_n8n/livelenguagerussian.json
{
  "name": "livelenguagerussian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 59
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2352,
        368
      ],
      "id": "357f1e02-05d6-490b-8480-34f089c3e0a8",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-user",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1680,
        16
      ],
      "id": "5dc38393-7b0c-4685-a4ba-cb7022b72b15",
      "name": "Webhook",
      "webhookId": "9a245f7f-ede3-48b6-96ff-d255ad7d08b3"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.record.email }}",
        "subject": "Benvenuti nella lingua russa ",
        "message": "=<h2>Ciao {{ $json.body.record.first_name }}!</h2>  <p>Grazie per la registrazione su Livelanguage Russian!</p>  <p>Ecco le tue credenziali di accesso:</p>  <table style=\"border-collapse: collapse; margin: 20px 0;\">   <tr>     <td style=\"padding: 8px; font-weight: bold;\">login:</td>     <td style=\"padding: 8px;\">{{ $json.body.record.email }}</td>   </tr>   <tr>     <td style=\"padding: 8px; font-weight: bold;\">Password:</td>     <td style=\"padding: 8px;\">{{ $json.body.record.generated_password }}</td>   </tr> </table>  <p>   <a href=\"https://livelanguagerussian.com/login.html?redirect={{ $json.body.record.topic_pass }}\"       style=\"background: #007bff; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block;\">     Accedi ai tuoi esercizi   </a> </p>  <p>A presto!<br>Livelanguage Russian</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1472,
        16
      ],
      "id": "6dff9a10-f757-4e66-8895-b9f56b843df3",
      "name": "Send a message1",
      "webhookId": "80ddf40a-e29f-42e1-ae77-e21953db23a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "c2oaeXP7L11W2VLy",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.record.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "n8n_stage",
              "fieldValue": "email_sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1264,
        16
      ],
      "id": "432a26a3-d189-41d5-8392-2fd18ba07c22",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "G01pQlPX8kX3kuz1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Non dimenticare i tuoi esercizi!",
        "message": "=<p>Ciao {{ $json.first_name }},</p>\n<p>abbiamo visto il tuo interesse per gli esercizi, ma ultimamente non ti abbiamo visto.</p>\n<p>Speriamo che non ti sia dimenticato/a di noi — e che tu torni presto!</p>\n<p>Per motivarti, ecco alcuni materiali che potrebbero interessarti:</p>\n<p><a href=\"https://livelanguagerussian.com/{{ $json.topic_global_path }}/\" style=\"background-color: #4CAF50; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px;\">Torna agli esercizi</a></p>\n<p>A presto,<br>LiveLanguage Russian</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1744,
        688
      ],
      "id": "7076a48c-8213-4b52-bbc2-300321fc608a",
      "name": "Reminder",
      "webhookId": "0a28a7f7-58c3-4488-8089-7888fbc9c78d",
      "credentials": {
        "gmailOAuth2": {
          "id": "c2oaeXP7L11W2VLy",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/funnel_status?stage=eq.exercises_sent&registration_status=eq.non_registered&stage_date=lt.{{ $now.minus(4, 'days').toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1952,
        688
      ],
      "id": "bf0157df-1c8d-4ef0-bd16-bd80873af129",
      "name": "4 day not logged"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/user_funnel?id=eq.{{ $('4 day not logged').item.json.funnel_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"stage\": \"reminder_sent\", \"stage_date\": \"{{ $now.toISO() }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        688
      ],
      "id": "c8bfb19f-26e3-4b60-ac73-ccc3112698cf",
      "name": "udate reminder send"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Scopri tutti gli esercizi su {{ $json.topic_name }}!",
        "message": "=<p>Ciao {{ $json.first_name }},</p>\n<p>come stai? Volevamo sapere come trovi gli esercizi. Speriamo che li stia trovando utili e non troppo noiosi.</p>\n<p>E per darti una piccola spinta, dai un'occhiata al file allegato. Pensiamo che ti sarà utile per approfondire l'argomento.</p>\n<p>A presto,<br>LiveLanguage Russian</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1744,
        848
      ],
      "id": "5d727caf-8aaa-47d3-98f4-95dfb23348a7",
      "name": "email content",
      "webhookId": "5906dca3-69ca-44fe-8f9d-1271f0eba582",
      "credentials": {
        "gmailOAuth2": {
          "id": "c2oaeXP7L11W2VLy",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/user_funnel?id=eq.{{ $('Day4 Logged In').item.json.funnel_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"stage\": \"content_sent\", \"stage_date\": \"{{ $now.toISO() }}\"}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        848
      ],
      "id": "90243498-cd87-4809-9038-9349be142de7",
      "name": "update content sent"
    },
    {
      "parameters": {
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/funnel_status?stage=eq.exercises_sent&registration_status=eq.registered&stage_date=lt.{{ $now.minus(4, 'days').toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1952,
        848
      ],
      "id": "ab745adc-d068-4e65-bf48-d3dc5f1c8aab",
      "name": "Day4 Logged In"
    },
    {
      "parameters": {
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/funnel_status?stage=in.(content_sent,reminder_sent)&stage_date=lt.{{ $now.minus(4, 'days').toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authomatization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {},
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1952,
        528
      ],
      "id": "6a6b1720-c52c-47ba-9533-5d2ca47bac63",
      "name": "Day8 Webinar"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/user_funnel?id=eq.{{ $('Day8 Webinar').item.json.funnel_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"stage\": \"webinar_invited\", \"stage_date\": \"{{ $now.toISO() }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        528
      ],
      "id": "bfc57d23-3368-41af-b82d-badee360d170",
      "name": "Update Webinar Invited"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.topic_name }}: partecipa al webinar gratuito!",
        "message": "=<p>Ciao {{ $json.first_name }}, di nuovo!</p>\n<p>Come va? Speriamo che tutto stia procedendo alla grande.</p>\n<p>Per aiutarti a non perdere il ritmo, ti invitiamo a un webinar gratuito in cui potrai chiarire i tuoi dubbi e ottenere risposte pratiche.</p>\n<p>Sarà un'occasione per fare il punto, confrontarti e ricaricare la motivazione.</p>\n<p><a href=\"{{ $json.webinar_url }}\" style=\"background-color: #4CAF50; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px;\">👉 Registrati qui – posti limitati</a></p>\n<p>Ti aspettiamo!<br>A presto,<br>Il team di LiveLanguage Russian</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1744,
        528
      ],
      "id": "d46802d2-478b-4219-a01e-fb94bee25021",
      "name": "Email Webinar Invite",
      "webhookId": "0a28a7f7-58c3-4488-8089-7888fbc9c78d",
      "credentials": {
        "gmailOAuth2": {
          "id": "c2oaeXP7L11W2VLy",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/user_funnel?id=eq.{{ $('Day12  Webinar_repeat').item.json.funnel_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"stage\": \"webinar_invited\", \"stage_date\": \"{{ $now.toISO() }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1536,
        368
      ],
      "id": "c8ed76ad-d546-4572-9419-3e0e9753b95f",
      "name": "Update Webinar Invited1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.topic_name }}: partecipa al webinar gratuito!",
        "message": "=<p>Ciao {{ $json.first_name }},</p>\n<p>non vorremmo essere invadenti, ma…</p>\n<p>speriamo che tu non ti sia dimenticato/a del webinar \"<strong>{{ $json.topic_name }}</strong>\"! 😊</p>\n<p>Manca poco — e sarebbe un peccato perderselo.</p>\n<p>Quindi?<br>Ci sei? 👀</p>\n<p><a href=\"{{ $json.webinar_url }}\" style=\"background-color: #4CAF50; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px;\">👉 Registrati ora — è gratuito</a></p>\n<p>Ti aspettiamo!<br>A presto,<br>Il team di LiveLanguage Russian</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1744,
        368
      ],
      "id": "f87e2a45-b476-44e8-9ac4-a8b5b7478108",
      "name": "Email Webinar Invite1",
      "webhookId": "0a28a7f7-58c3-4488-8089-7888fbc9c78d",
      "credentials": {
        "gmailOAuth2": {
          "id": "c2oaeXP7L11W2VLy",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "checkout.session.completed"
        ]
      },
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        -2816,
        0
      ],
      "id": "f8df8bb0-ec49-4872-ace7-14f2b662d24b",
      "name": "Stripe Trigger",
      "webhookId": "15886e5b-f7dd-46fe-bfd9-c4b7b2d8e3ce",
      "credentials": {
        "stripeApi": {
          "id": "wZhfIUQn2A4qdjXY",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/profiles?user_id=eq.{{ $json.data.object.client_reference_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MTY5OTUsImV4cCI6MjA4NjE5Mjk5NX0.hIcwr45dq4ApcAWH6dP_ZyE9UA7XXQ2jvuEAD1YR5Mc"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lessonpaid\": true,\n  \"exercisepaid\": true,\n  \"registration_status\": \"paid\",\n  \"n8n_stage\": \"payment_confirmed\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2624,
        0
      ],
      "id": "702a803a-8031-4498-81f1-3cc6c1690347",
      "name": "Aggiorna profilo a paid"
    },
    {
      "parameters": {
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/profiles?user_id=eq.{{ $json.data.object.client_reference_id }}&select=first_name,last_name,email,generated_password",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey ",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MTY5OTUsImV4cCI6MjA4NjE5Mjk5NX0.hIcwr45dq4ApcAWH6dP_ZyE9UA7XXQ2jvuEAD1YR5Mc"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2416,
        0
      ],
      "id": "999da1cc-3f6f-42da-a172-aba4868150ea",
      "name": "Leggi profilo per email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[0].email }}",
        "subject": "Accesso a Live Language Russian — le tue credenziali",
        "message": "=<p>Ciao {{ $json[0].first_name }},</p>  <p>Il tuo pagamento è stato confermato. Puoi ora accedere agli esercizi e al materiale del corso.</p>  <p><strong>Email:</strong> {{ $json[0].email }}<br> <strong>Password:</strong> {{ $json[0].generated_password }}</p>  <p><a href=\"https://livelanguagerussian.com/login.html\">Accedi ora →</a></p>  <p>A presto,<br>Live Language Russian</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2224,
        0
      ],
      "id": "263920ed-34ec-4cb7-8649-347903b2465d",
      "name": "Send a message",
      "webhookId": "4030fdff-f727-4d90-ae1a-e2162ce37fee",
      "credentials": {
        "gmailOAuth2": {
          "id": "c2oaeXP7L11W2VLy",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2800,
        224
      ],
      "id": "54e74f30-3465-4307-8165-d598bb98c5e5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://itjjgblqdpopzoxqeufd.supabase.co/rest/v1/funnel_status?stage=eq.webinar_invited&stage_date=lt.{{ $now.minus(4, 'days').toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {
              "name": "Authomatization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ampnYmxxZHBvcHpveHFldWZkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDYxNjk5NSwiZXhwIjoyMDg2MTkyOTk1fQ.ctazJaxVhLTK3kC092cnjTaUVYxcR7NUszRLWCUDRLY"
            },
            {},
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1952,
        368
      ],
      "id": "ada98fad-37df-4339-99dc-85503fb797dc",
      "name": "Day12  Webinar_repeat"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.pletnusha.xyz",
            "user-agent": "pg_net/0.19.5",
            "content-length": "814",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2a05:d018:135e:1640:cab9:218:5908:de93",
            "cf-ipcountry": "IE",
            "cf-ray": "9db013e04a10299b-DUB",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "b099e6ab-c453-43f2-be4b-26ad26466270",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "2a05:d018:135e:1640:cab9:218:5908:de93",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "type": "INSERT",
            "table": "profiles",
            "record": {
              "id": "ca77987f-8335-49ca-9820-b641a5b9374b",
              "bio": null,
              "plan": null,
              "email": "f.cuzzupoli@gmail.com",
              "login": true,
              "courses": null,
              "user_id": "71325c10-7027-4b08-a951-2b8bf5686cfd",
              "last_name": "Reale",
              "n8n_stage": "new",
              "created_at": "2026-03-12T04:32:53.454038+00:00",
              "first_name": "Test",
              "last_login": null,
              "lessonpaid": false,
              "topic_pass": "principianti",
              "updated_at": "2026-03-12T04:32:53.454038+00:00",
              "track_level": null,
              "exercisepaid": false,
              "marketing_consent": true,
              "generated_password": "TestPass999",
              "stripe_customer_id": null,
              "webinar_registered": false,
              "registration_status": "registered",
              "whatsapp_phone_number": null,
              "stripe_subscription_id": null,
              "data_processing_consent": true
            },
            "schema": "public",
            "old_record": null
          },
          "webhookUrl": "https://n8n.pletnusha.xyz/webhook-test/new-user",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "4 day not logged",
            "type": "main",
            "index": 0
          },
          {
            "node": "Day4 Logged In",
            "type": "main",
            "index": 0
          },
          {
            "node": "Day8 Webinar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Day12  Webinar_repeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder": {
      "main": [
        [
          {
            "node": "udate reminder send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4 day not logged": {
      "main": [
        [
          {
            "node": "Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email content": {
      "main": [
        [
          {
            "node": "update content sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day4 Logged In": {
      "main": [
        [
          {
            "node": "email content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day8 Webinar": {
      "main": [
        [
          {
            "node": "Email Webinar Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Webinar Invite": {
      "main": [
        [
          {
            "node": "Update Webinar Invited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Webinar Invite1": {
      "main": [
        [
          {
            "node": "Update Webinar Invited1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Trigger": {
      "main": [
        [
          {
            "node": "Aggiorna profilo a paid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggiorna profilo a paid": {
      "main": [
        [
          {
            "node": "Leggi profilo per email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leggi profilo per email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Aggiorna profilo a paid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Day12  Webinar_repeat": {
      "main": [
        [
          {
            "node": "Email Webinar Invite1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9cb902b1-381f-4e2c-bfaa-7e20967781ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df60330ab8971016a83cc2f699521d8623afa0297c05f495845bb89c142eec1c"
  },
  "id": "dgc3mCvdBRUTOEoyvEoUk",
  "tags": []
}